{% extends "base_generic.html" %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}
<div class="header">
    <img src="{% static 'finertia/assets/images/stock_cake_digital_finance_hub_17182170571.jpeg' %}" alt="Header Background" class="background">
    <img src="{% static 'finertia/assets/images/finertia_transparent_1.png' %}" alt="Finertia Logo" class="logo">
</div>
<div class="form-container">
    <h2>Password Reset Sent</h2>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
<div class="footer-content">
    <p>Follow us to know more:</p>
    <a href="#">LinkedIn</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a>
</div>
{% endblock %}