
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'finertia/css/style.css' %}">
     <style>
        label{
            font-weight: bolder;
        }

    </style>
</head>
<body>
    <div class="header">
        <img src="{% static 'finertia/assets/images/stock_cake_digital_finance_hub_17182170571.jpeg' %}" alt="Header Background" class="background">
        <img src="{% static 'finertia/assets/images/finertia_transparent_1.png' %}" alt="Finertia Logo" class="logo">
    </div>
    <div class="form-container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                <label for="id_username">Username:</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <ul class="errorlist">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </p>


                <label for="id_password1">Password:</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <ul class="errorlist">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </p>
            <p>
                <label for="id_password2">Password confirmation:</label>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <ul class="errorlist">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </p>
            <button type="submit">Sign Up</button>
        </form>
        <p style="font-weight: bolder">Already a user? <a href="{% url 'finertia:login' %}" style="color: white">Login</a></p>
    </div>
    <div class="footer-content">
        <p>Follow us to know more:</p>
        <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">LinkedIn</a> | <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">Twitter</a> | <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">Instagram</a> | <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">Facebook</a>
    </div>
</body>
</html>