{% load static %}
{#< lang="en">#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Color:wght@400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/finertia/css/base.css" />
    <style>
         .custom-menu-item {
            color: white;
            text-decoration: none;
            font-size: 40px;
            font-weight: 600;
            transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
        }

        .custom-menu-item:hover {
            color: #ffcc00;
            text-shadow: 0 0 10px #ffcc00;
            text-decoration: underline;
            transform: scale(1.1);
        }

         .custom-manage, .custom-preferences {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    </style>

</head>
{#<header>#}
{#    <div class="header-image-container">#}
{#        <img src="{% static 'finertia/assets/images/stock_cake_digital_finance_hub_17182170571.jpeg' %}" alt="Header Image" class="header-image">#}
{#        <div class="header-content">#}
{#            <img src="{% static 'finertia/assets/images/finertia_transparent_1.png' %}"#}
{#                 style="height: 350px; width: 350px; margin-right: 130px" alt="Logo" class="logo">#}
{#            <div class="menu">#}
{#                <a href="#" class="btn btn-primary">Menu</a>#}
{#                <a href="#" class="btn btn-primary">Home</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</header>#}
{#<div class="container-fluid">#}
{#        <div class="main-container">#}
{#<div class="menu">#}
{#    <div class="nav-menu">#}
{#    <h5>Manage</h5>#}
{#        <ul>#}
{#            <li class="align-items-center">#}
{#                <a class="btn btn-custom w-100" href="#"><img src="{% static 'finertia/assets/vectors/vector_7_x2.svg' %}" alt="Custom Icon" style="width: 50px;#}
{#             color: white; height: 60px;">#}
{#                Dashboard#}
{#            </a></li>#}
{#            <li><i class="fas fa-users"></i><a class="btn btn-custom w-100" href="#">#}
{#                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Analytics</button>#}
{#            </a></li>#}
{#            <li><a class="btn btn-custom w-100" href="#">#}
{#                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Insights</button>#}
{#            </a></li>#}
{#            <li><a class="btn btn-custom w-100" href="#">#}
{#                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Theme</button>#}
{#            </a></li>#}
{#        </ul>#}
{#        <h5>Preferences</h5>#}
{#        <ul>#}
{#            <li><a class="btn btn-custom w-100" href="#">#}
{#                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Payments</button>#}
{#            </a></li>#}
{#            <li><a class="btn btn-custom w-100" href="#">#}
{#                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Settings</button>#}
{#            </a></li>#}
{#        </ul>#}
{#    </div>#}
{#    </div>#}
{#            <div class="content">#}
{#                {% block content %}{% endblock %}#}
{#            </div>#}
{#            </div>#}
{#        </div>#}

<div class="custom-desktop-2">
    <div class="custom-header-container">
        <img src="{% static 'finertia/assets/images/stock_cake_digital_finance_hub_17182170571.jpeg' %}" alt="Header Image" class="custom-header-image">

{#        <div class="custom-frame-19">#}
{#            <div class="custom-frame-17">#}
{#                <span class="custom-login">#}
{#                    <a class="navbar-brand" style="color:white; text-decoration: none;" href="{% url 'finertia:logout' %}">Logout</a>#}
{#                </span>#}
{#            </div>#}
{#            <div class="custom-home">#}
{#                <a class="navbar-brand justify-content-between" style="color:white; text-decoration: none;" href="{% url 'finertia:home' %}">Home</a>#}
{#            </div>#}
{##}
{#        </div>#}
        <div class="custom-frame-19">
            <div class="custom-header-buttons">
                <a class="btn btn-primary custom-button" href="{% url 'finertia:home' %}">Home</a>
                <a class="btn btn-primary custom-button" href="{% url 'finertia:logout' %}">Logout</a>
            </div>
        </div>
        <a href="{% url 'finertia:home' %}">
        <img  src="{% static 'finertia/assets/analtics_insights_payments/images/finertia_transparent_1.png' %}" class="custom-logo" alt="Finertia Logo">
    </a>
    </div>

    <div class="custom-container" style="margin-top: 40px; color: #00BD9D; margin-right: 40px" >
        <div class="custom-sidebar">
            <div class="custom-manage">MANAGE</div>
                <div class="custom-menu-item">
                    <img src="{% static 'finertia/assets/analtics_insights_payments/vectors/vector_2_x2.svg' %}" alt="Dashboard Icon" />
                    <span><a class="navbar-brand" style="color:white; text-decoration: none;" href="{% url 'finertia:dashboard' %}">Dashboard</a></span>
                </div>
                <div class="custom-menu-item">
                    <img src="{% static 'finertia/assets/analtics_insights_payments/vectors/vector_17_x2.svg' %}" alt="Analytics Icon" />
                    <span><a class="navbar-brand" style="color:white; text-decoration: none;" href="{% url 'finertia:analytics' %}">Analytics</a></span>
                </div>
                <div class="custom-menu-item">
                    <img src="{% static 'finertia/assets/analtics_insights_payments/vectors/vector_31_x2.svg' %}" alt="Insights Icon" />
                    <span><a class="navbar-brand" style="color:white; text-decoration: none;" href="{% url 'finertia:insights' %}">Insights</a></span>
                </div>


            <div class="custom-preferences">PREFERENCES</div>

                <div class="custom-menu-item">
                    <img src="{% static 'finertia/assets/analtics_insights_payments/vectors/vector_34_x2.svg' %}" alt="Payments Icon" />
                    <span><a class="navbar-brand" style="color:white; text-decoration: none;" href="{% url 'finertia:payments' %}">Payments</a></span>
                </div>
            </div>





<div class="main-content1">
    {% block body_block %}


    {% endblock %}
</div>
</div>
</div>
