<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Color:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/finertia/css/home.css" />
  </head>
  <body>
    <div class="desktop-1">
      <div class="container-4">
        <div class="rectangle-1">
        </div>
        <div class="container-2" style="margin-left: 70px">
          <span class="financial-wellness-is-away-of-effectively-managing-your-finances-not-knowing-how-to-deal-with-your-finances-can-lead-to-major-stress-anxiety-or-depression-finance-plays-asubstantial-role-in-your-daily-wellness-and-well-being">
          Financial wellness is a way of effectively managing your finances. <br />
          Not knowing how to deal with your finances can lead to major stress, anxiety or depression. <br />
          Finance plays a substantial role in your daily wellness and well-being.
          </span>
        </div>
          <footer>
        <div class="container-1" style="margin-left: 70px">
          <div class="frame-33861">
            <span class="follow-us-to-know-more">
            Follow us to know more
            </span>
            <div class="container-3" style="align-items: flex-end">
              <div class="wrapper">
                <div class="container-5">
                    <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">
                  <div class="frame-33858">
                    <div class="linked-in-2668700640-ezgif-com-crop-11">
                    </div>
                  </div>
                   </a>

                    <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">
                  <div class="frame-33859">
                    <div class="download-1">
                    </div>
                  </div>
                </div>
                 </a>

               <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">
                <div class="frame-33860">
                  <div class="munchy-gram">
                    <div class="container">
                      <div class="ellipse-1">
                      </div>
                      <div class="ellipse-2">
                      </div>
                    </div>
                    <div class="rectangle-11">
                    </div>
                  </div>
                </div>
                 </a>

              </div>

                <a href="https://www.linkedin.com/in/finertia-ltd-439669321/">
              <div class="download-11">
              </div>
               </a>

            </div>
          </div>
          <div class="container-6">
            <span class="contact-us" style="padding-right: 50px">

            </span>
          </div>
        </div>
          </footer>
      </div>
      <div class="stock-cake-digital-finance-hub-17182170571">
      </div>
      <div class="frame-1">
        <div class="our-best-results-for">
        Our Services
        </div>
        <div class="frame-20">
          <div class="product-1">
            <div class="image">
            </div>
            <div class="frame-21">
              <span class="iphone-11-pro-max-copy">
              Know About Finances
              </span>
              <a href="https://www.financialfoundationsofvirginia.org/blog?gad_source=1&gclid=Cj0KCQjwh7K1BhCZARIsAKOrVqF3IWkfSaJPl_qI-IPT3LxELhYA9UEmZmZp40KsG-NeO6xpErP6hLwaAtGEEALw_wcB">
              <img class="arrow-circle-right" src="../static/finertia/assets/vectors/arrow_circle_right_1_x2.svg" />
              </a>
            </div>
          </div>
          <div class="product-2">
            <div class="image-1">
            </div>
            <div class="frame-211">
              <span class="iphone-11-pro-max-copy-1">
              Manage your Finances
              </span>
                <a href="{% url 'finertia:analytics' %}">
              <img class="arrow-circle-right-1" src="../static/finertia/assets/vectors/arrow_circle_right_3_x2.svg" />
            </div>
          </div>
          <div class="product-3">
            <div class="image-2">
            </div>
            <div class="frame-212">
              <span class="iphone-11-pro-max-copy-2">
              Savings Schemes
              </span>
                <a href="{% url 'finertia:analytics' %}">
              <img class="arrow-circle-right-2" src="../static/finertia/assets/vectors/arrow_circle_right_x2.svg" />
            </div>
          </div>
          <div class="product-4">
            <div class="image-3">
            </div>
            <div class="frame-213">
              <span class="iphone-11-pro-max-copy-3">
              Financial Insights
              </span>
                <a href="{% url 'finertia:analytics' %}">
              <img class="arrow-circle-right-3" src="../static/finertia/assets/vectors/arrow_circle_right_2_x2.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="frame-19">
        <div class="home">
        <a class="navbar-brand" href="{% url 'finertia:home' %}">Home</a>
        </div>
        <div class="frame-17" style="margin-right: 20px">

          <span class="login">
            <a class="navbar-brand" href="{% url 'finertia:login' %}">Login</a>
          </span>
        </div>

          <div class="frame-17" style="margin-right: 20px">
          <span class="login">
          <a class="navbar-brand" href="{% url 'finertia:signup' %}">Sign Up</a>
          </span>
          </div>

      </div>
      <div class="finertia-transparent-1">
      </div>
    </div>
  </body>
</html>