.desktop-11 .finertia-transparent-1 {
  background: url('../assets/images/finertia_transparent_1.png') 50% / cover no-repeat;
  width: 435px;
  height: 279px;
}
.desktop-11 .container-19 {
  background: #000000;
  position: relative;
  margin-left: 3px;
  padding-bottom: 100px;
  width: 1440px;
  height: 379px;
  box-sizing: border-box;
}
.desktop-11 .manage {
  margin-bottom: 43.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .vector-18 {
  width: 44px;
  height: 44px;
}
.desktop-11 .dashboard {
  margin: 10.5px 0 1.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-16 {
  margin: 0 85px 71px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 251px;
  box-sizing: border-box;
}
.desktop-11 .vector-19 {
  width: 33px;
  height: 44px;
}
.desktop-11 .simple-iconsplausibleanalytics {
  background: #FFFFFF;
  display: flex;
  padding: 0px 5.5px 0 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .analytics {
  margin: 8.5px 0 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-8 {
  margin: 0 95.8px 61px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240.2px;
  box-sizing: border-box;
}
.desktop-11 .vector-20 {
  width: 33px;
  height: 33px;
}
.desktop-11 .mingcuteperformance-fill {
  background: #FFFFFF;
  display: flex;
  padding: 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .insights {
  margin: 5.5px 0 6.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-15 {
  margin: 0 119.1px 64.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 222.9px;
  box-sizing: border-box;
}
.desktop-11 .vector-21 {
  width: 32.8px;
  height: 34.8px;
}
.desktop-11 .mingcutenotification-fill {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .notification {
  margin: 0.8px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-1 {
  margin: 0 48.9px 63px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 279.8px;
  box-sizing: border-box;
}
.desktop-11 .vector-22 {
  width: 35.6px;
  height: 36.7px;
}
.desktop-11 .cisettings-filled {
  background: #FFFFFF;
  margin-top: 0.5px;
  display: flex;
  padding: 3.7px 4.2px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .settings {
  margin-bottom: 12.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-13 {
  margin: 0 115.7px 58px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220.3px;
  box-sizing: border-box;
}
.desktop-11 .preferences {
  margin-bottom: 27.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Spice';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .vector-23 {
  width: 35.2px;
  height: 35.2px;
}
.desktop-11 .fluentdark-theme-20-regular {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .theme {
  margin: 0.1px 0 3.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-10 {
  margin: 0 159.5px 50.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 179.7px;
  box-sizing: border-box;
}
.desktop-11 .vector-24 {
  width: 33px;
  height: 40.3px;
}
.desktop-11 .icoutline-security {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-11 .securiy {
  margin: 3.7px 0 4.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-3 {
  margin-right: 140.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 202.3px;
  box-sizing: border-box;
}
.desktop-11 .container-17 {
  border-radius: 59px;
  background: #050404;
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49.5px 48px 44.8px 48px;
  width: 482px;
  box-sizing: border-box;
}
.desktop-11 .outstanding-loans {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container {
  border-radius: 30px;
  background: #1E1E1E;
  position: relative;
  margin: 0 0.5px 7px 0;
  display: flex;
  padding: 56px 0 66px 4px;
  width: 373px;
  box-sizing: border-box;
}
.desktop-11 .credit-card-management {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-11 .container-6 {
  border-radius: 24px;
  background: #1E1E1E;
  position: relative;
  margin: 0 2.5px 8px 0;
  display: flex;
  padding: 73px 14px 79px 0;
  width: 371px;
  box-sizing: border-box;
}
.desktop-11 .group {
  width: 29.7px;
  height: 29.7px;
}
.desktop-11 .money-wallet-by-streamlinehq {
  margin: 0 0 17.1px 28.6px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.desktop-11 .container {
  margin: 0 0 16px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
}
.desktop-11 .account-balance {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #A0A0A0;
}
.desktop-11 .group-18 {
  box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.18);
  border-radius: 30px;
  background: #1E1E1E;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46.9px 0 59.3px 0;
  width: 373.5px;
  box-sizing: border-box;
}
.desktop-11 .container-5 {
  margin: 320px 12.5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 373.5px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .payments {
  margin: 0 162.6px 26.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #A0A0A0;
}
.desktop-11 .container-6 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  width: 46px;
  height: 49px;
}
.desktop-11 .mask-group {
  border-radius: 27px;
  display: flex;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .group-12 {
  border-radius: 27px;
  background: #BD8DFF;
  position: relative;
  margin: 1px 12px 0 0;
  display: flex;
  padding: 5px 4px 0 4px;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .inderjeet {
  margin: 0 14.9px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .you-paid-120 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .frame-21 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-1 {
  width: 18px;
  height: 4px;
}
.desktop-11 .frame {
  margin: 13px 0 38px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.desktop-11 .group-13 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 236px;
  box-sizing: border-box;
}
.desktop-11 .container-7 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  width: 46px;
  height: 49px;
}
.desktop-11 .mask-group-1 {
  border-radius: 27px;
  display: flex;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .group-121 {
  border-radius: 27px;
  background: #F4D786;
  position: relative;
  margin: 1px 12px 0 0;
  display: flex;
  padding: 5px 4px 0 4px;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .ramesh {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .you-received-410 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .frame-201 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .frame-22 {
  margin-right: 46.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-2 {
  width: 18px;
  height: 4px;
}
.desktop-11 .frame-1 {
  margin: 13px 0 38px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.desktop-11 .group-14 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .container-8 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  width: 46px;
  height: 49px;
}
.desktop-11 .mask-group-2 {
  border-radius: 27px;
  display: flex;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .group-122 {
  border-radius: 27px;
  background: #FF447E;
  position: relative;
  margin: 1px 12px 0 0;
  display: flex;
  padding: 5px 4px 0 4px;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .neetu {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .you-paid-1100 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .frame-202 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .frame-221 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-3 {
  width: 18px;
  height: 4px;
}
.desktop-11 .frame-2 {
  margin: 13px 0 38px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.desktop-11 .group-15 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 236px;
  box-sizing: border-box;
}
.desktop-11 .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .container-9 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  width: 46px;
  height: 49px;
}
.desktop-11 .mask-group-3 {
  border-radius: 27px;
  display: flex;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .group-123 {
  border-radius: 27px;
  background: #BD8DFF;
  position: relative;
  margin: 1px 12px 0 0;
  display: flex;
  padding: 5px 4px 0 4px;
  width: 54px;
  height: 54px;
  box-sizing: border-box;
}
.desktop-11 .aabidah {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .you-paid-400 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #E6E6E6;
}
.desktop-11 .frame-203 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .frame-222 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-5 {
  width: 18px;
  height: 4px;
}
.desktop-11 .frame-3 {
  margin: 13px 0 38px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.desktop-11 .group-16 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 236px;
  box-sizing: border-box;
}
.desktop-11 .frame-23 {
  position: relative;
  display: flex;
  height: 290.6px;
  box-sizing: border-box;
}
.desktop-11 .group-17 {
  box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.18);
  border-radius: 30px;
  background: #1E1E1E;
  position: relative;
  margin-top: 481px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25.5px 0 8.8px 0;
  width: 550px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .container-12 {
  margin: 0 10px 29px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .transaction {
  margin: 6px 16.5px 5px 0;
  display: inline-block;
  width: 159px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.desktop-11 .search-history {
  opacity: 0.3;
  margin-right: 10px;
  width: 122px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}
.desktop-11 .search-normal {
  width: 20px;
  height: 20px;
}
.desktop-11 .vuesaxoutlinesearch-normal {
  opacity: 0.5;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319380 {
  border-radius: 10px;
  background: #F7F7F7;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 16px;
  width: 289px;
  box-sizing: border-box;
}
.desktop-11 .calendar {
  width: 20px;
  height: 20px;
}
.desktop-11 .vuesaxoutlinecalendar {
  opacity: 0.8;
  margin-right: 12px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.desktop-11 .may-20-may {
  opacity: 0.8;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319378 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-17 {
  width: 11.6px;
  height: 5.7px;
}
.desktop-11 .vuesaxoutlinearrow-down {
  opacity: 0.8;
  margin: 2px 0;
  display: flex;
  padding: 5.5px 2.2px 4.8px 2.2px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319379 {
  border-radius: 10px;
  border: 1px solid rgba(37, 40, 44, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 15px;
  width: 225px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319384 {
  display: flex;
  flex-direction: row;
  width: 532px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319385 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 747px;
  box-sizing: border-box;
}
.desktop-11 .vector-524 {
  background: #000000;
  margin-right: 11px;
  width: 0px;
  height: 23px;
}
.desktop-11 .name {
  opacity: 0.5;
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319390 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-525 {
  background: #000000;
  margin-right: 11px;
  width: 0px;
  height: 23px;
}
.desktop-11 .date {
  opacity: 0.5;
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319393 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-526 {
  background: #000000;
  margin-right: 11px;
  width: 0px;
  height: 23px;
}
.desktop-11 .price {
  opacity: 0.5;
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319392 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .vector-527 {
  background: #000000;
  margin-right: 11px;
  width: 0px;
  height: 23px;
}
.desktop-11 .status {
  opacity: 0.5;
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319391 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .group-238409 {
  background: #F7F7F7;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 41.5px 8px 1px;
  width: 716px;
  box-sizing: border-box;
}
.desktop-11 .ellipse-464 {
  border-radius: 25px;
  background: #EBEBEB;
  width: 50px;
  height: 50px;
}
.desktop-11 .group-238406 {
  margin-right: 16px;
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.desktop-11 .adobe-after-effect {
  margin: 14.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .frame-427319386 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .sat-20-apr-2022 {
  margin: 14px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .container-10 {
  margin: 14px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-11 .completed {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  color: #00AE4E;
}
.desktop-11 .frame-15123 {
  border-radius: 1234.7px;
  background: #E5FFF1;
  margin: 9px 0 10px 0;
  padding: 8.5px 17.5px;
  width: 98px;
  box-sizing: border-box;
}
.desktop-11 .group-238407 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 716px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319398 {
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 716px;
  box-sizing: border-box;
}
.desktop-11 .container-2 {
  background: #050404;
  position: relative;
  margin: 9px 81px 255px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 47px 20px 14px;
  width: 808px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .instalment-1 {
  margin-right: 16.5px;
  width: 141px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  color: #FAFCFF;
}
.desktop-11 .see-all {
  margin: 5.5px 0 6.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  color: rgba(37, 40, 44, 0.5);
}
.desktop-11 .frame-427319397 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 277px;
  box-sizing: border-box;
}
.desktop-11 .house-installments {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #FBFCFF;
}
.desktop-11 .rectangle-34624350 {
  border-radius: 4px;
  background: #D64BC2;
  width: 154px;
  height: 16px;
}
.desktop-11 .group-238408 {
  border-radius: 4px;
  background: #F3F3F3;
  position: relative;
  margin-bottom: 16px;
  width: 256px;
  height: 16px;
  box-sizing: border-box;
}
.desktop-11 .collected {
  margin-right: 9.5px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #FBFCFF;
}
.desktop-11 .container-11 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #FBFCFF;
}
.container-11-sub9 {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: rgba(37, 40, 44, 0.5);
}
.desktop-11 .frame-427319394 {
  margin: 0 14.7px 0 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 255px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319395 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  box-sizing: border-box;
}
.desktop-11 .frame-427319396 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .frame-427319400 {
  border: 1px solid var(--black, #000000);
  background: var(--black, #000000);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .instalment {
  border-radius: 14.8px;
  border: 1px solid #000000;
  background: #000000;
  position: relative;
  padding: 29px 37.1px 0 35.2px;
  width: 549.1px;
  height: 472px;
  box-sizing: border-box;
}
.desktop-11 .container-11 {
  margin: 0 1.9px 0 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .container-14 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1443px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .stock-cake-digital-finance-hub-17182170571 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  border: 1px solid #000000;
  background: url('../assets/images/stock_cake_digital_finance_hub_17182170571.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -0.9px;
  top: -2.3px;
  width: 1439.3px;
  height: 377px;
}
.desktop-11 .spendings {
  margin-bottom: 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #A0A0A0;
}
.desktop-11 .ellipse-8 {
  border-radius: 6px;
  background: #FF447E;
  margin: 5px 12px 34px 0;
  width: 12px;
  height: 12px;
}
.desktop-11 .home-expenses {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .container-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .frame-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .group-2 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .ellipse-9 {
  border-radius: 6px;
  background: #F4D487;
  margin: 5px 12px 34px 0;
  width: 12px;
  height: 12px;
}
.desktop-11 .food-drinks {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .container-3 {
  margin-right: 18.8px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .group-3 {
  margin: 0 10.7px 40px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .ellipse-10 {
  border-radius: 6px;
  background: #BD8DFF;
  margin: 5px 12px 34px 0;
  width: 12px;
  height: 12px;
}
.desktop-11 .others {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .container-4 {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .frame-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .group-4 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .frame-4 {
  margin: 19.9px 61.5px 29.8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .group-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-11 .container-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #FFFFFF;
}
.desktop-11 .group-5 {
  position: relative;
  display: flex;
  padding: 111px 34.3px 107.7px 0;
  width: 304.3px;
  box-sizing: border-box;
}
.desktop-11 .container-7 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-11 .group-10 {
  box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.18);
  border-radius: 30px;
  background: #1E1E1E;
  position: absolute;
  top: 366px;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 33.5px 36.1px 0 36.1px;
  height: 491px;
  box-sizing: border-box;
}
.desktop-11 .total-spendings {
  margin: 0 11.8px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #A0A0A0;
}
.desktop-11 .container-5 {
  margin-left: 1.5px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
}
.desktop-11 .group-19 {
  box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.18);
  border-radius: 30px;
  background: #1E1E1E;
  position: absolute;
  left: 499px;
  top: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 366px;
  height: 323px;
}
.desktop-11 .home {
  margin-right: 16px;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-11 .product {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-11 .container-9 {
  margin: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 183px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .banking {
  margin: 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-11 .container-12 {
  border-radius: 400px;
  background: url('../assets/images/image_2.jpeg') 50% / cover no-repeat;
  margin-right: 12px;
  width: 44px;
  height: 44px;
}
.desktop-11 .user {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.desktop-11 .sampleusergmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #BABEC8;
}
.desktop-11 .container-4 {
  margin: 3px 0 4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .frame-17 {
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  width: 253px;
  box-sizing: border-box;
}
.desktop-11 .frame-19 {
  position: absolute;
  top: 101.5px;
  right: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 678px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #000000;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
