.desktop-12 .finertia-transparent-1 {
  background: url('../assets/analtics_insights_payments/images/finertia_transparent_1.png') 50% / cover no-repeat;
  width: 435px;
  height: 279px;
}
.desktop-12 .container-20 {
  background: #000000;
  position: relative;
  margin-left: 3px;
  padding-bottom: 100px;
  width: 1440px;
  height: 379px;
  box-sizing: border-box;
}
.desktop-12 .manage {
  margin-bottom: 43.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .vector-6 {
  margin-right: 42.6px;
  width: 44px;
  height: 44px;
}
.desktop-12 .dashboard {
  margin: 12px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-7 {
  margin: 0 111.6px 71px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .vector-5 {
  width: 33px;
  height: 44px;
}
.desktop-12 .simple-iconsplausibleanalytics {
  background: #000000;
  display: flex;
  padding: 0px 5.5px 0 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .analytics {
  margin: 10px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-6 {
  margin: 0 117.4px 61px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 218.6px;
  box-sizing: border-box;
}
.desktop-12 .vector-4 {
  width: 33px;
  height: 33px;
}
.desktop-12 .mingcuteperformance-fill {
  background: #FFFFFF;
  display: flex;
  padding: 5.5px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .insights {
  margin: 7px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-21 {
  margin: 0 133.4px 64.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 208.6px;
  box-sizing: border-box;
}
.desktop-12 .vector-3 {
  width: 32.8px;
  height: 34.8px;
}
.desktop-12 .mingcutenotification-fill {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .notification {
  margin: 1.3px 0 4.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container {
  margin: 0 72px 63px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 256.8px;
  box-sizing: border-box;
}
.desktop-12 .vector-2 {
  width: 35.6px;
  height: 36.7px;
}
.desktop-12 .cisettings-filled {
  background: #FFFFFF;
  margin-top: 0.5px;
  display: flex;
  padding: 3.7px 4.2px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .settings {
  margin-bottom: 12.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-16 {
  margin: 0 115.7px 58px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220.3px;
  box-sizing: border-box;
}
.desktop-12 .preferences {
  margin-bottom: 27.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Bungee Spice';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .vector-1 {
  width: 35.2px;
  height: 35.2px;
}
.desktop-12 .fluentdark-theme-20-regular {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .theme {
  margin: 0.1px 0 3.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-23 {
  margin: 0 159.5px 50.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 179.7px;
  box-sizing: border-box;
}
.desktop-12 .vector {
  width: 33px;
  height: 40.3px;
}
.desktop-12 .icoutline-security {
  display: flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .payments {
  margin: 3.7px 0 4.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Bungee Color';
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  color: #FFFFFF;
}
.desktop-12 .container-9 {
  margin-right: 113.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 229.9px;
  box-sizing: border-box;
}
.desktop-12 .container-11 {
  border-radius: 59px;
  background: #050404;
  position: relative;
  margin: 0 350px 176px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49.5px 48px 44.8px 48px;
  width: 482px;
  box-sizing: border-box;
}
.desktop-12 .recent-transactions {
  margin-bottom: 43px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 24px;
  color: #F7FFFF;
}
.desktop-12 .vector-7 {
  width: 18px;
  height: 15px;
}
.desktop-12 .frame {
  transform: rotate(-90deg);
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-12 .group-43798 {
  border-radius: 30px;
  background: #181818;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 21.2px 0px 20.8px 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .peace-josh {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .july-20211125-pm {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  color: #F7F7F7;
}
.desktop-12 .frame-44195 {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-44200 {
  margin: 0 23px 55px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .vector-8 {
  width: 18px;
  height: 15px;
}
.desktop-12 .frame-1 {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-12 .group-43793 {
  border-radius: 30px;
  background: #181818;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 21.2px 0 20.8px 0px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .samantha-p {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .july-20211125-pm-1 {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  color: #F7F7F7;
}
.desktop-12 .frame-44196 {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-44201 {
  margin: 0 23px 55px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .vector-9 {
  width: 18px;
  height: 15px;
}
.desktop-12 .frame-2 {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-12 .group-43800 {
  border-radius: 30px;
  background: #181818;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 21.2px 0 20.8px 0px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .joshua-ade {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .july-20211125-pm-2 {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  color: #F7F7F7;
}
.desktop-12 .frame-44197 {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-44202 {
  margin: 0 23px 55px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .vector-10 {
  width: 18px;
  height: 15px;
}
.desktop-12 .frame-3 {
  transform: rotate(-90deg);
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-12 .group-437981 {
  border-radius: 30px;
  background: #181818;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 21.2px 0px 20.8px 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .netflix-subscription {
  margin-bottom: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .july-20211125-pm-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  color: #F7F7F7;
}
.desktop-12 .frame-44198 {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-44203 {
  margin-bottom: 55px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .vector-11 {
  width: 18px;
  height: 15px;
}
.desktop-12 .frame-4 {
  transform: rotate(-90deg);
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.desktop-12 .group-437982 {
  border-radius: 30px;
  background: #181818;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 21.2px 0px 20.8px 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.desktop-12 .mobile-top-up {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .july-20211125-pm-4 {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  color: #F7F7F7;
}
.desktop-12 .frame-44199 {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-44204 {
  margin-right: 23px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .frame-44205 {
  margin-right: 23.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-12 .allowance {
  margin: 0 0 88px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .shopping {
  margin: 0 3.9px 91px 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .urgent-2-k {
  margin: 0 7.5px 93px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .netflix {
  margin: 0 7.5px 91px 7.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .airtime {
  margin: 0 7.6px;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .container-4 {
  margin: 21px 54.7px 21px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-12 .container-1 {
  margin: 0 6px 89px 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .container-2 {
  margin: 0 2.9px 93px 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 18px;
  color: #00BD9D;
}
.desktop-12 .container-3 {
  margin: 0 0.1px 92px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 18px;
  color: #00BD9D;
}
.desktop-12 .container-4 {
  margin: 0 3px 91px 11px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .container-5 {
  margin-left: 14px;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  color: #F7F7F7;
}
.desktop-12 .container-10 {
  margin: 19px 0 21px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-12 .container-3 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .frame-44221 {
  border-radius: 20px;
  border: 1px solid #2C2C2C;
  background: #0D0D0D;
  margin-top: 449px;
  display: flex;
  flex-direction: column;
  padding: 34px 36.3px 30px 31px;
  box-sizing: border-box;
}
.desktop-12 .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .wallet-1 {
  margin-right: 18.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.desktop-12 .cards-1-out-of-4 {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .title {
  margin: 2px 0 8px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .vector-12 {
  width: 3.5px;
  height: 7.9px;
}
.desktop-12 .left {
  border-radius: 5px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-right: 8px;
  display: flex;
  padding: 11px 13.5px 11px 13px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.desktop-12 .vector-13 {
  width: 3.5px;
  height: 7.9px;
}
.desktop-12 .right {
  border-radius: 5px;
  border: 1px solid var(--foundation-blueblue-100, #BFBFBF);
  display: flex;
  padding: 11px 13px 11px 13.5px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.desktop-12 .indicator {
  display: flex;
  flex-direction: row;
  width: 72px;
  box-sizing: border-box;
}
.desktop-12 .container-17 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 952px;
  box-sizing: border-box;
}
.desktop-12 .card {
  border-radius: 12px;
  background: var(--foundation-blueblue-50, #EAEAEA);
  position: absolute;
  right: 0px;
  bottom: 12px;
  width: 291px;
  height: 170px;
}
.desktop-12 .rectangle-19 {
  border-radius: 16px;
  background: linear-gradient(220.9deg, #250061 36.9%, #4702B8 90%);
  transform: rotate(45.165deg);
  position: absolute;
  top: -17px;
  right: -48.5px;
  width: 120.2px;
  height: 135.8px;
}
.desktop-12 .rectangle-18 {
  border-radius: 16px;
  background: linear-gradient(286.7deg, rgba(37, 0, 97, 0.85) 58.3%, rgba(71, 2, 184, 0.85) 209.5%);
  transform: rotate(45.165deg);
  position: absolute;
  top: -102px;
  right: -15.1px;
  width: 132.3px;
  height: 145px;
}
.desktop-12 .image-2 {
  background: url('../assets/analtics_insights_payments/images/image_2.png') 50% / cover no-repeat;
  margin-bottom: 41px;
  align-self: flex-start;
  width: 44px;
  height: 24px;
}
.desktop-12 .group-1 {
  border-radius: 5px;
  margin-bottom: 19px;
  align-self: flex-end;
  width: 38.2px;
  height: 26px;
}
.desktop-12 .card-number {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--foundation-blueblue-100, #BFBFBF);
}
.desktop-12 .container-6 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-12 .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .card-1 {
  border-radius: 12px;
  background: var(--color-palet-main-color, #151718);
  position: relative;
  display: flex;
  padding: 24px 22.8px 24px 20px;
  box-sizing: border-box;
}
.desktop-12 .left-content {
  position: relative;
  margin: 0 191px 0px 0;
  display: flex;
  padding-right: 15px;
  box-sizing: border-box;
}
.desktop-12 .line-3 {
  background: #EAEAEA;
  margin-right: 190px;
  width: 196px;
  height: 0px;
}
.desktop-12 .balance-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation-blueblue-300, #747475);
}
.desktop-12 .container-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  color: var(--color-palet-heading-color, #303031);
}
.desktop-12 .balance {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .currency-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation-blueblue-300, #747475);
}
.desktop-12 .us-dollar {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  color: var(--color-palet-heading-color, #303031);
}
.desktop-12 .currency {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .balance-and-currency {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .deactivate-card-1 {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation-blueblue-300, #747475);
}
.desktop-12 .ellipse-6 {
  border-radius: 10px;
  background: #5F1ED9;
  width: 20px;
  height: 20px;
}
.desktop-12 .toogle-indicator {
  border-radius: 999px;
  background: #EFEBFE;
  position: relative;
  display: flex;
  align-self: flex-start;
  padding: 4px 20px 4px 4px;
  width: 44px;
  height: 28px;
  box-sizing: border-box;
}
.desktop-12 .deactivate-card {
  margin-right: 9.1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .wallet-details {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-12 .container-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .wallet {
  border-radius: 12px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  position: absolute;
  top: 57px;
  right: 6px;
  display: flex;
  flex-direction: column;
  padding: 17px 23px 77px 17px;
  box-sizing: border-box;
}
.desktop-12 .transactions-1 {
  margin-right: 8.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-12 .line-9 {
  background: #848484;
  margin: 5px 7.5px 5px 0;
  width: 12px;
  height: 0px;
}
.desktop-12 .upcoming-bills {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .title-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .view-all {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .top-bar {
  margin: 0 0.7px 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 374px;
  box-sizing: border-box;
}
.desktop-12 .image-4 {
  background: url('../assets/analtics_insights_payments/images/image_4.png');
  width: 16px;
  height: 23px;
}
.desktop-12 .picture {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  margin-right: 19px;
  display: flex;
  padding: 10px 13px 9px 13px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .netflix-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .july-052024-at-2146 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .name-and-date {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .container-8 {
  margin: 9.5px 0px 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #D70000;
}
.desktop-12 .text-contents {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 311px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .netflix-1 {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  padding: 0 0.4px 11px 0;
  width: 374px;
  box-sizing: border-box;
}
.desktop-12 .image-5 {
  background: url('../assets/analtics_insights_payments/images/image_5.png') 50% / cover no-repeat;
  width: 28px;
  height: 28px;
}
.desktop-12 .picture-1 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  margin-right: 16px;
  display: flex;
  padding: 7px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .spotify-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .june-142024-at-0810 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .name-and-date-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .container-9 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #00B046;
}
.desktop-12 .text-contents-1 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .spotify {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  padding: 0 0.7px 11px 0;
  width: 374px;
  box-sizing: border-box;
}
.desktop-12 .image-6 {
  background: url('../assets/analtics_insights_payments/images/image_6.png') 50% / cover no-repeat;
  width: 18px;
  height: 27px;
}
.desktop-12 .picture-2 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  margin-right: 15px;
  display: flex;
  padding: 8px 12px 7px 12px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .figma-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .may-202024-at-1924 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .name-and-date-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .container-10 {
  margin: 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #D70000;
}
.desktop-12 .text-contents-2 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .figma {
  border-bottom: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  padding: 0 0.6px 11px 0;
  width: 374px;
  box-sizing: border-box;
}
.desktop-12 .image-7 {
  background: url('../assets/analtics_insights_payments/images/image_7.png') 50% / cover no-repeat;
  width: 24px;
  height: 27px;
}
.desktop-12 .picture-3 {
  border-radius: 4px;
  border: 1px solid var(--foundation-blueblue-50, #EAEAEA);
  background: #FFFFFF;
  margin-right: 16px;
  display: flex;
  padding: 7px 9px 8px 9px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-12 .shopify-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .may-072024-at-0658 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-palet-paragraph-color, #848484);
}
.desktop-12 .name-and-date-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .container-11 {
  margin: 9.5px 0px 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #00B046;
}
.desktop-12 .text-contents-3 {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 314px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .shopify {
  margin-right: 0.6px;
  display: flex;
  flex-direction: row;
  width: 374px;
  box-sizing: border-box;
}
.desktop-12 .transactions {
  border-radius: 12px;
  border: 1px solid #1E1E1E;
  background: #000000;
  position: absolute;
  left: 409px;
  bottom: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 17px 0 17px;
  height: 349px;
  box-sizing: border-box;
}
.desktop-12 .container-22 {
  position: relative;
  margin-right: 46px;
  display: flex;
  box-sizing: border-box;
}
.desktop-12 .container-19 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1443px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .stock-cake-digital-finance-hub-17182170571 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  border: 1px solid #000000;
  background: url('../assets/analtics_insights_payments/images/stock_cake_digital_finance_hub_17182170571.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -0.9px;
  top: -2.3px;
  width: 1439.3px;
  height: 377px;
}
.desktop-12 .home {
  margin-right: 16px;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-12 .product {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-12 .container-18 {
  margin: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 183px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-12 .banking {
  margin: 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-12 .container {
  border-radius: 400px;
  background: url('../assets/analtics_insights_payments/images/image.jpeg') 50% / cover no-repeat;
  margin-right: 12px;
  width: 44px;
  height: 44px;
}
.desktop-12 .user {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.desktop-12 .sampleusergmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #BABEC8;
}
.desktop-12 .container-13 {
  margin: 3px 0 4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .frame-17 {
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  width: 253px;
  box-sizing: border-box;
}
.desktop-12 .frame-19 {
  position: absolute;
  top: 101.5px;
  right: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 678px;
  box-sizing: border-box;
}
.desktop-12 .quick-transfer-1 {
  margin-right: 8.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-12 .line-91 {
  background: #FFFFFF;
  margin: 5px 7.5px 5px 0;
  width: 12px;
  height: 0px;
}
.desktop-12 .mobile-top-up-1 {
  margin: 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.desktop-12 .title-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .see-all {
  margin: 3.5px 0px 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.desktop-12 .top-bar-1 {
  margin: 0 13.2px 116px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 366px;
  box-sizing: border-box;
}
.desktop-12 .vector-17 {
  width: 16.9px;
  height: 11.9px;
}
.desktop-12 .phcredit-card-thin {
  margin: 2.6px 13.6px 2.6px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.desktop-12 .card-or-phone-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .card-or-phone {
  border-bottom: 1px solid var(--foundation-blueblue-501, #EAEAEA);
  margin: 0 13px 14px 0;
  display: flex;
  flex-direction: row;
  padding: 1.5px 0 14.5px 1.6px;
  width: 366px;
  box-sizing: border-box;
}
.desktop-12 .iconsax-lineardollarcircle {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.desktop-12 .preferred-amount {
  margin: 1.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .usd-1 {
  position: absolute;
  top: 1.5px;
  right: 0.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.desktop-12 .card-or-phone-2 {
  border-bottom: 1px solid var(--foundation-blueblue-501, #EAEAEA);
  position: relative;
  margin: 0 13px 24px 0;
  padding-bottom: 13px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-12 .ellipse-11 {
  border-radius: 8px;
  background: #4A00D5;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
}
.desktop-12 .vector-20 {
  width: 6px;
  height: 6px;
}
.desktop-12 .carbonpercentage-filled {
  position: relative;
  display: flex;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
}
.desktop-12 .percentage {
  border-radius: 2px;
  background: #EFEBFD;
  position: relative;
  margin: 3px 0;
  display: flex;
  padding: 11px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.desktop-12 .get-started {
  margin-right: 8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}
.desktop-12 .vector-21 {
  width: 11.4px;
  height: 9px;
}
.desktop-12 .solararrow-right-linear {
  margin: 3px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.desktop-12 .fill-sm-btn {
  border-radius: 4px;
  background: var(--color-palet-main-color-1, #151718);
  display: flex;
  flex-direction: row;
  padding: 9.5px 15px 9.5px 16px;
  box-sizing: border-box;
}
.desktop-12 .frame-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 379px;
  box-sizing: border-box;
}
.desktop-12 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .image-21 {
  background: url('../assets/analtics_insights_payments/images/image_2.png') 50% / cover no-repeat;
  width: 24px;
  height: 13.2px;
}
.desktop-12 .card-2 {
  border-radius: 4px;
  background: #5100D7;
  position: relative;
  margin-right: 9px;
  padding: 30.8px 4px 4px 4px;
  width: 72px;
  height: 48px;
  box-sizing: border-box;
}
.desktop-12 .debit-card {
  margin-bottom: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-palet-paragraph-color-1, #848484);
}
.desktop-12 .usd {
  margin-right: 19.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: var(--color-palet-heading-color-1, #303031);
}
.desktop-12 .detail {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-12 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .vector-14 {
  width: 8.8px;
  height: 8.4px;
}
.desktop-12 .group-2 {
  border-radius: 11px;
  background: #F69A12;
  position: absolute;
  left: 5px;
  top: 6px;
  display: flex;
  padding: 6.6px 6.6px 7px 6.6px;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
}
.desktop-12 .visa {
  border-radius: 6px;
  border: 1px solid var(--foundation-blueblue-501, #EAEAEA);
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 11px 19.3px 11px 19px;
  box-sizing: border-box;
}
.desktop-12 .image-3 {
  background: url('../assets/analtics_insights_payments/images/image_3.png') 50% / cover no-repeat;
  width: 18px;
  height: 11px;
}
.desktop-12 .card-3 {
  border-radius: 4px;
  background: #5100D7;
  position: relative;
  margin-right: 9px;
  padding: 33px 4px 4px 4px;
  width: 72px;
  height: 48px;
  box-sizing: border-box;
}
.desktop-12 .debit-card-1 {
  margin-bottom: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-palet-paragraph-color-1, #848484);
}
.desktop-12 .europian {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: var(--color-palet-heading-color-1, #303031);
}
.desktop-12 .frame-4 {
  margin: 4.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1px;
  box-sizing: border-box;
}
.desktop-12 .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-12 .vector-15 {
  width: 10.2px;
  height: 8.4px;
}
.desktop-12 .group-21 {
  border-radius: 11px;
  background: #F69A12;
  position: absolute;
  left: 5px;
  top: 6px;
  display: flex;
  padding: 6.6px 3.4px 7px 8.4px;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
}
.desktop-12 .vector-16 {
  position: absolute;
  top: 50%;
  right: 32.5px;
  translate: 0 -50%;
  width: 3.5px;
  height: 7.9px;
}
.desktop-12 .debit {
  border-radius: 6px;
  border: 1px solid var(--foundation-blueblue-501, #EAEAEA);
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 11px 19px;
  width: 178px;
  box-sizing: border-box;
}
.desktop-12 .cards {
  position: absolute;
  top: 66px;
  right: -33px;
  width: 404px;
  height: 72px;
  box-sizing: border-box;
}
.desktop-12 .create-anew-deposit {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: var(--color-palet-heading-color-1, #303031);
}
.desktop-12 .choose-aflexible-deposit-for-your-savings-suited-to-your-needs-in-invest-bank {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-palet-paragraph-color-1, #848484);
}
.desktop-12 .frame-5 {
  position: absolute;
  left: 18px;
  bottom: -76px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-12 .quick-transfer {
  border-radius: 12px;
  border: 1px solid var(--foundation-blueblue-501, #EAEAEA);
  background: #000000;
  position: absolute;
  left: 414px;
  bottom: 66px;
  display: flex;
  padding: 19px 4px 19px 17px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #000000;
  display: flex;
  padding-bottom: 70px;
  width: 1440px;
  box-sizing: border-box;
}
